@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

#containerDashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  & img {
    width: 100px;
  }
  & ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    list-style: none;
    gap: 2rem;
    margin: 2rem 0 2rem 0;
    & li figure {
      width: 220px;
      height: 220px;
      border-radius: 20%;
      background-color: rgb(85, 42, 123); 
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;
    
      -webkit-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
      -moz-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
      box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
      transition: ease-in-out 0.1s;
         & h2 {
           font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
        }
      &:hover {
        -webkit-box-shadow: 0px 8px 10px -3px rgba(0, 0, 0, 0.61);
        -moz-box-shadow: 0px 8px 10px -3px rgba(0, 0, 0, 0.61);
        box-shadow: 0px 8px 10px -3px rgba(0, 0, 0, 0.61);

        transform: scale(0.98);

      } 
      & img {
        width: 60%;
      }
    }
  }
}