#containerAhorcado {
  width: 100vw;
    min-height: 100vh;
    margin: auto;
    padding:20px;
      background-image: url(./sourceAhorcado/fondoAhorcado.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
background-size: 1500px; 
background-position-x: center;

}

#game {
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.581);
    display: flex;
/* color del cuadro del juego con un 70% de opacidad 
si pongo display flec para que los dos div del padre game se alineen
se me deforman las letras */
}

#muñequito {
    width:240px;
    height: 320px;
}
#palo0{
    width: 200px;
    height: 300px;
}


#palabraAdivinar {
    height: 3em;
    margin: 20px;
     border-radius: 10px;
    & span {vertical-align: bottom;
font-size: 2em;
vertical-align: bottom;
border-bottom: 1px solid black;
width: 30px;
text-align: center;
margin-right: 6px;
display: inline-block;  /*Por ser un elemmento de linea no toma el ancho, por eso necesita esta propiedad*/}
}

#palabra {
    margin: 20px;
}

#botonesLetras {
    margin: 20px;
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

#botonesLetras button {
    width: 28px;
    padding: 6px 0;
    text-align: center;
}  


/* ---------IPHONE  SE --------- */
@media (max-width: 376px) {
  #containerAhorcado {
    padding: 0;
  }
    #game {
    box-sizing: content-box;
    width: 17.5em;
    
    background-color: #ffffff62;
    border-radius: 0px;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
  }
  #botonesLetras{
    box-sizing: content-box;
    width: 17.5em;
  }

}