/* Estructura general */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  
}

.hero img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  border: 2px solid #0066cc;
}

/* Estilos para el contenido de la tarjeta */
.card {
  text-align: center;
  width: 100%;
}

.card h2 {
  font-size: 1.8em;
  color: #213547;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.7; /* Mejora la legibilidad */
  margin-bottom: 1rem; /* Espaciado uniforme entre los párrafos */
  text-align:center;
}

/* Espaciado y estilo para enlaces */
.card a {
  color: #0066cc;
  text-decoration: none;
  transition: color 0.3s;
}

.card a:hover {
  color: #004a99;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .hero {
    padding: 1rem;
  }

  .card h2 {
    font-size: 1.5em;
  }

  .card p {
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 0.8rem;
  }
}
